body {
    margin: 0;
}


.col {
    background-color: gainsboro;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 70px;
    border-radius: 3px;
    height: 200px;
    text-align: left;
    box-shadow: 2px 2px 2px;
}